*{
    margin: 0px;
    padding: 0px;
}
#Contenedor-Brands{
background-color: beige;
border-radius: 1%;
}
.Brands{
    width: 150px;
    height: 150px;

}
.Brands img{
    width: 100%;
    border: 2px solid dark;
    border-radius: 50%;
}


